[Unit]
Description=Uptime Kuma - A self-hosted monitoring tool
After=network.service

[Service]
Type=simple
EnvironmentFile=/etc/default/uptime-kuma
WorkingDirectory={{ uptime_kuma_root }}
User={{ uptime_kuma_user }}
Group={{ uptime_kuma_group }}
ExecStart=npm run start-server
Restart=always

[Install]
WantedBy=multi-user.target
